<div data-hook="admin_document_form_fields" class="row">
  <div data-hook="name" class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div data-hook="kind" class="form-group">
    <%= f.label :kind %>
    <%= f.select :kind, Spree::Tag.kinds.map{|k| [Spree::Tag.human_attribute_name(k.first), k.first]}, { }, class: "fullwidth select2" %>
  </div>
</div>
